In [1]:
import requests
import pandas as pd

In [2]:
schools_dict = {
    0: "No lockdown measures",
    1: "Recommend closing",
    2: "Require closing some levels",
    3: "Require closing all levels"
}

workplace_dict = {
    0: "No lockdown measures",
    1: "Recommend closing",
    2: "Require closing some sectors",
    3: "Require closing all but essential workers"
}

stay_home_dict = {
    0: "No lockdown measures",
    1: "Recommend not leaving house",
    2: "Require not leaving home with some exceptions",
    3: "Require not leaving home with few exceptions"
}

borders_dict = {
    0: "No lockdown measures",
    1: "Screen arrivals",
    2: "Quarantine arrivals from some or all regions",
    3: "Ban arrivals from some regions",
    4: "Ban arrivals from all regions"
}

lockdown_policy_dict = {
        0: 'Locally',
        1: 'Nationwide'
}

In [3]:
resp = requests.get('https://graphics.thomsonreuters.com/data/2020/coronavirus/oxford-covid-stringency-tracker/countries/germany/data.json')

In [4]:
resp_json = resp.json()

In [13]:
dates = resp_json['series']
school_values = resp_json['countries']['Germany']['cIndex']['c1']['values']
school_flags = resp_json['countries']['Germany']['cIndex']['c1']['flag']

work_values = resp_json['countries']['Germany']['cIndex']['c2']['values']
work_flags = resp_json['countries']['Germany']['cIndex']['c2']['flag']

stay_home_values = resp_json['countries']['Germany']['cIndex']['c6']['values']
stay_home_flags = resp_json['countries']['Germany']['cIndex']['c6']['flag']

borders_values = resp_json['countries']['Germany']['cIndex']['c8']['values']

In [14]:
df = pd.DataFrame({'date': dates, 
                   'school': school_values, 'school_flag': school_flags,
                   'workplace': work_values, 'workplace_flag': work_flags,
                   'stay_home': stay_home_values, 'stay_home_flag': stay_home_flags,
                   'borders': borders_values
                  })

In [15]:
df

,date,school,school_flag,workplace,workplace_flag,stay_home,stay_home_flag,borders
0,2020-01-01T00:00:00Z,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2020-01-02T00:00:00Z,0.0,NaN,0.0,NaN,0.0,NaN,0.0
2,2020-01-03T00:00:00Z,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2020-01-04T00:00:00Z,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2020-01-05T00:00:00Z,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...
560,2021-07-14T00:00:00Z,1.0,1.0,2.0,1.0,1.0,1.0,3.0
561,2021-07-15T00:00:00Z,1.0,1.0,2.0,1.0,1.0,1.0,3.0
562,2021-07-16T00:00:00Z,1.0,1.0,2.0,1.0,1.0,1.0,3.0
563,2021-07-17T00:00:00Z,1.0,1.0,2.0,1.0,1.0,1.0,3.0
564,2021-07-18T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df = df.fillna(0)

In [17]:
df['school'] = df['school'].astype('int')
df['school_flag'] = df['school_flag'].astype('int')
df['workplace'] = df['workplace'].astype('int')
df['workplace_flag'] = df['workplace_flag'].astype('int')
df['stay_home'] = df['stay_home'].astype('int')
df['stay_home_flag'] = df['stay_home_flag'].astype('int')
df['borders'] = df['borders'].astype('int')

In [11]:
df['school'] = df['school'].map(schools_dict)

df['school_flag'] = df['school_flag'].map(lockdown_policy_dict)

df['workplace'] = df['workplace'].map(workplace_dict)

df['workplace_flag'] = df['workplace_flag'].map(lockdown_policy_dict)

df['stay_home'] = df['stay_home'].map(stay_home_dict)

df['stay_home_flag'] = df['stay_home_flag'].map(lockdown_policy_dict)

df['borders'] = df['borders'].map(borders_dict)

In [18]:
df.head()

,date,school,school_flag,workplace,workplace_flag,stay_home,stay_home_flag,borders
0,2020-01-01T00:00:00Z,0,0,0,0,0,0,0
1,2020-01-02T00:00:00Z,0,0,0,0,0,0,0
2,2020-01-03T00:00:00Z,0,0,0,0,0,0,0
3,2020-01-04T00:00:00Z,0,0,0,0,0,0,0
4,2020-01-05T00:00:00Z,0,0,0,0,0,0,0

In [19]:
df.to_excel('lockdown.xlsx', index=False)

In [20]:
df.to_csv('lockdown.csv', index=False)